[submodule "BOTS/vendor/glm"]
	path = BOTS/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "BOTS/vendor/glfw"]
	path = BOTS/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "BOTS/vendor/spdlog"]
	path = BOTS/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
