[submodule "BOTS/vendor/glm"]
	path = BOTS/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "BOTS/vendor/glfw"]
	path = BOTS/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "BOTS/vendor/spdlog"]
	path = BOTS/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "BOTS/vendor/stb"]
	path = BOTS/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "BOTS/vendor/ImGui"]
	path = BOTS/vendor/ImGui
	url = https://github.com/ocornut/imgui.git
